﻿@{
    ViewData["Title"] = "Pokemon eliminado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    <h1> Se eliminó correctamente.</h1>
                    <br /><h1>@Model.Id</h1>
                </td>
                <td>
                    <img class="img-responsive" src="@Html.Raw(Model.ImageUrlHiRes)" alt="" width="300">
                </td>
                <td>
                    <table>
                        <tr>
                            <td><h4>Name: @Model.Name</h4></td>
                        </tr>
                        <tr>
                            <td><h6>Supertype: @Model.SuperType</h6></td>
                        </tr>
                        <tr>
                            <td><h6>Number: @Model.Number</h6></td>
                        </tr>
                        <tr>
                            <td><h6>Artist: @Model.Artist</h6></td>
                        </tr>
                        <tr>
                            <td><h6>Series: @Model.Series</h6></td>
                        </tr>
                        <tr>
                            <td><h6>Set: @Model.Set</h6></td>
                        </tr>
                    </table>
                </td>
            </tr>
    </tbody>
</table>

<div>
    @Html.ActionLink("Regresar a la lista", "DetailBd")
</div>
