﻿@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>¡Ups! ha ocurrido un error, por favor intente de nuevo o contacte al administrador del sistema.</h1>

<div>
    @Html.ActionLink("Regresar al inicio", "Index")
</div>
