﻿@{
    ViewData["Title"] = "Cristian Correa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Todos los pokemones</h1>

<table class="table">
    <thead>
        <tr>
            @Html.ActionLink("Ordenar por Id", "Index", new { Orden = ViewBag.Id })
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h1>@item.Id</h1>
                </td>
                <td>
                    <img class="img-responsive" src="@Html.Raw(item.ImageUrlHiRes)" alt="" width="300">
                </td>
                <td>
                    <table>
                        <tr>
                            <td><h4>Name: @item.Name</h4></td>
                        </tr>
                        <tr>
                            <td><h6>Supertype: @item.SuperType</h6></td>
                        </tr>
                        <tr>
                            <td><h6>Number: @item.Number</h6></td>
                        </tr>
                        <tr>
                            <td><h6>Artist: @item.Artist</h6></td>
                        </tr>
                        <tr>
                            <td><h6>Series: @item.Series</h6></td>
                        </tr>
                        <tr>
                            <td><h6>Set: @item.Set</h6></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <a href="@Url.Action("Insert", "Pokemon", new { Id = @item.Id })">Agregar Pokemon</a>
                </td>
            </tr>
        }
    </tbody>
</table>